/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face{
	src:url("Assets/IDEAL-0.TTF");
	fontFamily: Ideal-0;
	embedAsCFF: true;
}


s|Application
{
	background-color:#f2eee5;
	font-family:Ideal-0;
	font-size: 26px;
	color:#000000;
	focus-color:#716159;
}
.Text-1{
	font-size: 26px;
}

.Text-medium
{
	font-size: 22px;	
}


.Text-22
{
	font-size: 22px;	
}

.Text-large
{
	font-size:32px;	
}

.Text-test
{
	font-size:12px;
	text-align:left;
	color:#F00;
}

.Text-INSTR
{
	font-size:22px;
	vertical-align:top;
	text-align:left;
}

.Text-INSTR-medium
{
	font-size:22px;
	text-align:left;
}

.Text-INSTR-small
{
	font-size:20px;
	vertical-align:top;
	text-align:left;
}

.Text-INSTR-smaller
{
	font-size:16px;
	vertical-align:top;
	text-align:left;
}

.bglabel
{
	verticalAlign: middle;
}

.Headline
{
	font-size:26px;
	font-family:Ideal-0;
}
/**
* -----------------
* Container-Styles
* -----------------
*/
s|BorderContainer{

    borderAlpha: 1.0;
    borderColor:#B7BABC;
    borderStyle: solid;
    borderVisible: true;
    borderWeight:1;
    cornerRadius: 20px;
    dropShadowVisible:false;
}

.outerFrame{
	backgroundColor: #FFFFFF;
	background-image: Embed(source="Assets/outerFrame.png");
	borderVisible: false;
}



.bmbf{
	backgroundColor: #FFFFFF;
	background-image: Embed(source="Assets/BMBF_Logo.png");
	borderVisible: false;
}

.backgroundContainerMath{
	background-image: Embed(source="Assets/background-math.png");
	borderVisible: false;
}

.backgroundContainerReading{
	background-image: Embed(source="Assets/background-reading.png");
	borderVisible: false;
}

.backgroundContainerLanguage{
	background-image: Embed(source="Assets/background-language.png");
	borderVisible: false;
}

.backgroundContainerWriting{
	background-image: Embed(source="Assets/background-writing.png");
	borderVisible: false;
}

.loginInputArea
{
	font-family:Ideal-0;
	font-size:36px;
	text-align:center;
}

.clozeGapArea
{
	text-align:center;
}

/**
* --------------
* Button-Styles
* --------------
*/

/* CustomButton-Styles */
s|Button{
	color:#000000;
	font-size:26px;
	bgImageVisibility:true;
	width: 164px;
	height: 93px;
}
s|Button:up {
	backgroundImage:Embed(source="Assets/button.png");
}
s|Button:over{
	backgroundImage:Embed(source="Assets/button-over.png");
}
s|Button:down{
	backgroundImage:Embed(source="Assets/button-down.png");
}


/* StartApplicationButton-Styles */
.startApplicationButton{
	color:#000000;
	font-size:26px;
	bgImageVisibility:true;
	width: 164px;
	height:  93px;
}
.startApplicationButton:up{
backgroundImage:Embed(source="Assets/button-start.png");
}
.startApplicationButton:over{
	backgroundImage:Embed(source="Assets/button-start-over.png");
}.startApplicationButton:down{
	backgroundImage:Embed(source="Assets/button-start-down.png");
}


/* SoundButton-Styles */
.soundButton
{
	bgImageVisibility:true;
	width: 96px;
	height: 92px;
}
.soundButton:up{
	backgroundImage:Embed(source="Assets/button-sound.png");
}
.soundButton:over{
	backgroundImage:Embed(source="Assets/button-sound-over.png");
}
.soundButton:down{
	backgroundImage:Embed(source="Assets/button-sound-down.png");
}


.smallSoundButton{
	bgImageVisibility:true;
	width: 63px;
	height: 60px;
}
.smallSoundButton:up{
	backgroundImage:Embed(source="Assets/button-small-sound.png");
}
.smallSoundButton:over{
	backgroundImage:Embed(source="Assets/button-small-sound-over.png");
}
.smallSoundButton:down{
	backgroundImage:Embed(source="Assets/button-small-sound-down.png");
}

.miniSoundButton{
	bgImageVisibility:true;
	width: 30px;
	height: 29px;
}
.miniSoundButton:up{
	backgroundImage:Embed(source="Assets/button-mini-sound.png");
}
.miniSoundButton:over{
	backgroundImage:Embed(source="Assets/button-mini-sound-over.png");
}
.miniSoundButton:down{
	backgroundImage:Embed(source="Assets/button-mini-sound-down.png");
}


.RadioButton_1
{
	focus-color:#FFFFFF;
}

/* Reading Icon - or eyeButton called */

.smallEyeButton
{
	bgImageVisibility:true;
	width: 63px;
	height: 60px;	
}

.smallEyeButton:up
{
	backgroundImage:Embed(source="Assets/readButtonUp.png");
}

.smallEyeButton:over
{
	backgroundImage:Embed(source="Assets/readButtonOver.png");
}

.smallEyeButton:down
{
	backgroundImage:Embed(source="Assets/readButtonDown.png");
}

/* ForwardButton-Styles */
.forwardButton{
	color:#000000;
	bgImageVisibility:true;
	width: 141px;
	height: 62px;
	position:absolute;
	left:810px; 
	top:610px;
}
.forwardButton:up{
	backgroundImage:Embed(source="Assets/button-forward.png");
}
.forwardButton:over{
	backgroundImage:Embed(source="Assets/button-forward-over.png");
}
.forwardButton:down{
	backgroundImage:Embed(source="Assets/button-forward-down.png");
}


/* BackButton-Styles */
.backButton{
	color:#000000;
	bgImageVisibility:true;
	width: 141px;
	height: 62px;
	position:absolute;
	left:50px; 
	top:610px;
}
.backButton:up{
	backgroundImage:Embed(source="Assets/button-back.png");
}
.backButton:over{
	backgroundImage:Embed(source="Assets/button-back-over.png");
}
.backButton:down{
	backgroundImage:Embed(source="Assets/button-back-down.png");
}

/* DimesionButton-Styles */
.readingButton{
	color:#000000;
	bgImageVisibility:true;
	width: 164px;
	height: 156px;
}
.readingButton:up{
	backgroundImage:Embed(source="Assets/button-reading.png");
}
.readingButton:over{
	backgroundImage:Embed(source="Assets/button-reading-over.png");
}
.readingButton:down{
	backgroundImage:Embed(source="Assets/button-reading-down.png");
}

.writingButton{
	color:#000000;
	bgImageVisibility:true;
	width: 164px;
	height: 156px;
}
.writingButton:up{
	backgroundImage:Embed(source="Assets/button-writing.png");
}
.writingButton:over{
	backgroundImage:Embed(source="Assets/button-writing-over.png");
}
.writingButton:down{
	backgroundImage:Embed(source="Assets/button-writing-down.png");
}

.languageButton{
	color:#000000;
	font-size:24px;
	bgImageVisibility:true;
	width: 164px;
	height: 156px;
}
.languageButton:up{
	backgroundImage:Embed(source="Assets/button-language.png");
}
.languageButton:over{
	backgroundImage:Embed(source="Assets/button-language-over.png");
}
.languageButton:down{
	backgroundImage:Embed(source="Assets/button-language-down.png");
}

.mathButton{
	color:#000000;
	font-size:24px;
	bgImageVisibility:true;
	width: 164px;
	height: 156px;
}
.mathButton:up{
	backgroundImage:Embed(source="Assets/button-math.png");
}
.mathButton:over{
	backgroundImage:Embed(source="Assets/button-math-over.png");
}
.mathButton:down{
	backgroundImage:Embed(source="Assets/button-math-down.png");
}

/* ForgotCodeButton-Styles */
.forgotButton{
	color:#000000;
	bgImageVisibility:true;
	width: 219px;
	height: 60px;
	position:absolute;
	left:550px; 
	top:610px;
}
.forgotButton:up{
	backgroundImage:Embed(source="Assets/button-lostcode.png");
}
.forgotButton:over{
	backgroundImage:Embed(source="Assets/button-lostcode-over.png");
}
.forgotButton:down{
	backgroundImage:Embed(source="Assets/button-lostcode-down.png");
}
global
{
	font-family: Ideal-0;
}


/*

TextInput-Styles

*/

/*FALLBACK CLASS FOR WHITE LABEL WITH BLACK TEXT*/
.TextInput_default
{
	inputBackground:#F0F;
	color:#000;
}


.TextInput_blue_22
{
	inputBorderColor: #BDF;
	inputBorderWeight: 6;
	inputBackground:#BDF;
	color:#000;
	font-size:22px;
	newAlign: left;			
}

.TextInput_yellow
{
	inputBackground:#AA2;
	color:#000;
}


.TextInput_red
{
	inputBackground:#F00;
	color:#FFF;
}

.TextInput-center-big
{
	inputBorderWeight: 6;
	inputBackground:#BDF;
	font-size:60px;
	newAlign: center;
}
/*
	Border Container
*/
.roundesBG-5
{
	cornerRadius: 5;
}

.roundesBG-15
{
	cornerRadius: 15;
}
/*
@font-face
{
	fontFamily: IDEAL-0;
	src: url("C:\lea\Itementwicklung\xmlTest\src\Assets\IDEAL-0.TTF");
	embedAsCFF: true;
}
*/